<%- include('partials/header.ejs') %>
<div class="wrapper">
  <% if(locals.anime) {%>
  <div class="profile">
    <img src="<%= anime.images.jpg.image_url %>" alt="" height="300px" />
    <div class="textDetail">
      <h2><%= anime.title %></h2>
      <p>
        <%= anime.synopsis %>
      </p>
      <h3>Statistics:</h3>
      <ul>
        <li>Score: <%= anime.score %></li>
        <li>Ranked: #<%= anime.rank %></li>
        <li>Popularity: #<%= anime.popularity %></li>
        <li>Members: <%= anime.members %></li>
        <li>Favorites: <%= anime.favorites %></li>
      </ul>
    </div>
    <!-- <button><a href="/reading-comic">Start Reading</a></button> -->
  </div>
  <div class="ChapterList">
    <h3>Information</h3>
    <hr />
    <div class="chapter">
      <ul>
        <li>Type: TV</li>
        <li>Episodes: 13</li>
        <li>Status: Currently Airing</li>
        <li>Aired: Jan 3, 2026 to Mar 28, 2026</li>
        <li>Studios:</li>
        <li>Source: Light novel</li>
        <li>Genres: Action, Fantasy</li>
        <li>Duration: 24 min. per ep.</li>
      </ul>
    </div>
  </div>
  <% }else{ %>
    <h1>Nothing to show</h1>
  <% } %>
</div>
<%- include('partials/footer.ejs') %>
