<%- include('partials/header.ejs') %>
<div class="wrapper">
  <h1>Best of the best</h1>
  <div class="content">
    <div class="bestOfBest">
     <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
        <% if(locals.topAnime) {%>
          <% topAnime.forEach((anime, index)=>{ %>

            <a href="/comic-detail/<%= anime.mal_id %>">
              <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                
                <div class="carousel-bg"
                  style="background-image:url('<%= anime.images.jpg.large_image_url %>')">
  
                  <div class="transparent">
                    <h3><%= anime.title %></h3>
                    <h5>Score: <%= anime.score %></h5>
                  </div>
  
                </div>
  
              </div>
            </a>

          <% }) %>
        <% }else{ %>
          Nothing to show
        <% } %>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>

</div>
    </div>
    <% if(locals.myAnimePreference) {%>
    <div
      class="personalPreference"
      style="
        background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url('<%= myAnimePreference.images.jpg.large_image_url %>');
        background-size: cover;
        background-position: center;
      "
    >
      <a href="/comic-detail/<%= myAnimePreference.mal_id %>" style="color: white; text-decoration: none;">
        <p>Personal Preference</p>
        <h3><%= myAnimePreference.title %></h3>
      </a>
    </div>
    <% }else{ %>
      Nothing to show
    <% } %>
    <div class="listManga">
      <ul>

      <% if (pagedAnime && pagedAnime.length > 0) { %>

        <% pagedAnime.forEach(function(anime){ %>

          <li>
            <a href="/comic-detail/<%= anime.mal_id %>">

              <img src="<%= anime.images.jpg.image_url %>" height="200px"/>

              <div class="text">

                <h3><%= anime.title %></h3>

                <h5>Score: <%= anime.score %></h5>

                <p>
                  <%= anime.synopsis 
                    ? anime.synopsis.substring(0,120) + "..." 
                    : "No synopsis" %>
                </p>

              </div>

            </a>
          </li>

        <% }) %>

      <% } else { %>

        <p>Nothing to show</p>

      <% } %>

      </ul>
    </div>
    <div class="pagginate">

<% if (pagination && pagination.current_page > 1) { %>
<a href="/?page=<%= pagination.current_page - 1 %>&limit=5">
<button>Prev</button>
</a>
<% } %>

<% if (pagination && pagination.has_next_page) { %>
<a href="/?page=<%= pagination.current_page + 1 %>&limit=5">
<button>Next</button>
</a>
<% } %>

</div>
  </div>
</div>

<%- include('partials/footer.ejs') %>
